<div class="navbar bg-base-300 text-base-content shadow-md px-4">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost text-xl font-bold">Evaluación API</a>
  </div>
  
  <div class="flex-none gap-4 hidden md:flex">
    <div class="text-right text-sm">
      <p class="font-bold text-primary">Programación y Plataformas Web</p>
      <p>Domenica Uyunkar | Computación</p>
    </div>
    <a href="" target="_blank" class="btn btn-outline btn-primary btn-sm">
      GitHub
    </a>
  </div>
</div>